.inputValue {
  display: flex;
  border: 2px solid black;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.inputValue img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.inputValue input {
  width: 300px;
  font-size: 30px;
  border: none;
  background: #ffd950;
}

.inputValue input:focus {
  outline: none;
}

.addItem {
  background: #ffd950;
  font-size: 30px;
  border: 2px solid black;
  padding: 10px;
  width: 11.5%;
  border-radius: 50%;
}

.inputValue button:hover {
  background: white;
}

.imageUpdateCheck {
  width: 30px;
  height: 30px;
}

.updateCheck {
  background: #ffd950;
  border: 2px solid black;
  padding: 10px 9px 10px 0px;
  width: 11.5%;
  border-radius: 50%;
}

.empty {
  display: none;
}
