.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 70px;
  width: 600px;
  background: #ffd950;
  box-shadow: 1px 12px 22px -2px;
}

body {
  background: #efdd9c;
  display: flex;
  justify-content: center;
  align-items: center;
}
